In [10]:
import pandas as pd

In [2]:
import numpy as np

In [11]:
df = pd.read_csv('./trap_positions_181008_CecB-PCPG vesicles- after flushing_1_MMStack_Pos22.ome.tif.csv')

In [12]:
df

,2.000000000000000000e+00,3.870000000000000000e+02,3.280000000000000000e+02
0,3.0,387.0,78.0
1,4.0,356.0,203.0
2,5.0,356.0,118.0
3,6.0,356.0,35.0
4,7.0,326.0,413.0
5,8.0,326.0,78.0
6,9.0,296.0,200.0
7,10.0,296.0,118.0
8,11.0,295.0,38.0
9,12.0,220.0,105.0
10,13.0,204.0,159.0
11,15.0,143.0,408.0
12,16.0,143.0,158.0
13,17.0,142.0,77.0
14,18.0,55.0,456.0
15,19.0,51.0,372.0
16,20.0,50.0,35.0
17,21.0,48.0,287.0
18,22.0,21.0,159.0